/* universal selector */
* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* header uses flex box instead of grid */
header {
    display: flex;
    flex-direction: column;
    background-image:url(pngtree-technological-sense-geometric-line-simple-image_19419.jpg) ;
    background-size: cover;
    justify-content: space-evenly;
}

/* set up grid layout */
/* repeat function leaves cleaner code */
main {
 max-width: 100%;
 margin: 10px auto;
}


h1 {
    display: flex;
    justify-content: center;
width: 100%;
height: auto;
padding: 30px 0;
   
    text-shadow: 2px 2px 0 #000;
    color: rgb(214, 213, 212);
}

nav {
    margin: 20px;
}

/* styling for navigation links */
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

.first-project {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 500px;
    background-image: url(keyboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display:flex;
   gap: 10px;
   margin-bottom: 10px;
}

.card {
    padding: 1rem 0;
    flex: 1;
    background-color: blueviolet;
    aspect-ratio: 1/1;
}


@media screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .card {
        flex-basis: 100%;
    }
    
}