/* universal selector */
* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(14, 33, 48);
    --text-color: rgb(240, 248, 255);
}

/* header uses flex box instead of grid */
header {
    display: flex;
    flex-direction: column;
    background-image:url(pngtree-technological-sense-geometric-line-simple-image_19419.jpg) ;
    background-size: cover;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;

}

header p {
    color: var(--text-color);
    text-shadow: 2px 2px 0 black;
}

main {
 max-width: 100%;
 margin: 0px 0;
 background-color: var(--main-color);
}


h1 {
    display: flex;
    justify-content: center;
width: 100%;
height: auto;
padding: 30px 0;
   
    text-shadow: 2px 2px 0 #000;
    color: var(--text-color);
}

h2 {
    font-weight: bolder;
    text-shadow: -1px 1px white;
}

.nice {
    color: rgb(235, 229, 229);

}



/* styling for navigation links */
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 20px;
    text-shadow: -1px 1px 0 white;
  

}

.first-project {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 500px;
    background-image: url(keyboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 250px 0;
    color: var(--text-color);
    text-shadow: -1px 1px 0 #000;
    transition: 0.5s ease-in-out;
}

.first-project:hover {
    box-shadow: inset 0px 0px 8px aliceblue, 0 0 30px aliceblue;
}


.row {
    display:flex;
   gap: 10px;
   margin-bottom: 10px;
}

.info-row {
    display: flex;
    gap: 10px;
    transition: 1s;
}

.info-row:hover {
    box-shadow: inset 0px 0px 30px aliceblue, 0 0 30px aliceblue;
}

.card-1 {
    padding: 1rem 0;
    flex: 1;
    background-image: url(d20.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 300px;
    color: var(--text-color);
    text-shadow: -1px 1px 0 #000;
    transition: 2s;
}

.card-1:hover {
    height: 150px;
}

.card-23 {
    padding: 1rem 0;
    flex: 1;
    background-image: linear-gradient(to bottom right, rgb(14, 33, 48), slategray);
    height: 300px;
    color: var(--text-color);
    text-shadow: -1px 1px 0 #000;
    text-align: center;
    transition: 1s;
}

.card-23:hover {
    rotate: 5deg;
}

.card-4 {
    padding: 1rem 0;
    flex: 1;
    background-image: url(guitar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 300px;
    color: var(--text-color);
    text-shadow: -1px 1px 0 #000;
    transition: 2s;
}

.card-4:hover {
    height: 150px;
}

#contact-info {
    flex: 1;
    margin: 0;
    height: 75px;
    color: var(--text-color);
    border-color: var(--main-color) ;
    text-align: center;
}

pre {
    user-select: all;
}

#about-me {
    flex: 1;
    margin: 20px;
    height: 75x;
    color: var(--text-color);
    text-align: center;
    
}

footer {
    text-align: center;
    background-color:var(--main-color);
    color: var(--text-color);
    border-color: var(--main-color);
}

@media screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .card-1 {
        flex-basis: 100%;
    }
    .card-23 {
        flex-basis: 100%;
    }
    /* .card-3 {
        flex-basis: 100%;
    } */
    .card-4 {
        flex-basis: 100%;
    }
    
}